[project]
	description = Easily manage your hosts file with Chef
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wk8
[access "refs/for/refs/*"]
	read = group user/wk8
	push = group user/wk8
	label-Code-Review = -2..+2 group user/wk8
	label-Verified = -1..+1 group user/wk8
	rebase = group user/wk8
	removeReviewer = group user/wk8
	submit = group user/wk8
[access "refs/heads/*"]
	read = group user/wk8
	create = group user/wk8
	push = +force group user/wk8
	pushMerge = group user/wk8
[access "refs/tags/*"]
	push = +force group user/wk8
	pushTag = group user/wk8
	pushSignedTag = group user/wk8
